@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="bg-primaryGray  rounded-xl lg:w-3/6 p-10 mx-auto text-center">
    <h1 class="text-gray-600 text-4xl">Log Ind</h1>
    <p class="">Brug din lokale konto her</p>

    <form id="account" method="post" class="flex flex-col text-left px-24 my-8 space-y-6">
        <div class="flex flex-col">
            <label asp-for="Input.Email" class="form-label">Mail Adresse:</label>
            <input asp-for ="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" class="border-2 border-gray-200 text-sm rounded-lg focus:border-primaryBlue p-2 bg-gray-100 text-gray-800 outline-none shadow-lg focus:shadow-primaryBlue/10">
        </div>
        <div class="flex flex-col">
            <label asp-for="Input.Password" class="form-label">Kodeord:</label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" class="border-2 border-gray-200 text-sm rounded-lg focus:border-primaryBlue p-2 bg-gray-100 text-gray-800 outline-none shadow-lg focus:shadow-primaryBlue/10">
        </div>
        <div>
            <input asp-for="Input.RememberMe" type="checkbox">
            <label asp-for="Input.RememberMe" class="form-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
        </div>
        <button id="login-submit" type="submit" class="btn-primary">Log ind</button>
        <div class="flex flex-row">
            <a id="forgot-password" asp-page="./ForgotPassword" class="btn-link flex-grow">Glemt adgangskode?</a>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn-link flex-grow">Opret ny bruger</a>
        </div>
    </form>
    <div class="bg-gray-300  h-1 rounded-lg mx-12"></div>
    <div class="my-8">
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <p>Ingen andre login services!</p>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="flex space-x-12 flex-row items-cener mx-12">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                //<button class="btn-secondary bg-white flex-grow">Log ind med Google</button>
                                <button type="submit" class="btn-secondary bg-white flex-grow" name="provider"  title="Log ind med @provider.DisplayName">Log ind med @provider.DisplayName</button>
                            }
                </form>
            }
        }
    </div>

</div>







@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
